@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

body {
  background-color: #FDE047;
  overflow-x: hidden;
  font-family: 'Fredoka', sans-serif;
}

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-left {
  animation: slide-left 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 6s linear infinite;
}

.char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.char span {
  /* transform: translateX(100%); */
  display: inline-block;
  will-change: transform;
}